<c-card class="mb-4">
    <c-card-body>
        <div class="center">
            <h4 cCardTitle>Instrucciones</h4>
        </div>
        
        <p cCardText>
            1. Dar click en el botón 'Crear Material' que se encuentra bajo este texto.
        </p>
        <p cCardText>
            2. Ingrese las ecuaciones necesarias o utilice las herramientas para crear el material dinámico deseado.
        </p>
        <p cCardText>
            3. Al finalizar de crear el material, en la barra de opciones, ubicada del lado derecho, dirijase a la opción de compartir y copie el enlace que aparece.
        </p>
        <p cCardText>
            4. Pegue el enlace en el campo que se presenta bajo la herramienta y escriba el nombre con el que desea que se guarde el enlace.
        </p>

        <div class="center">
            <button cButton color="primary" [cModalToggle]="fullScreen2Xl.id">Crear Material</button>
        </div>
        
    </c-card-body>
</c-card>

<c-modal #fullScreen2Xl [fullscreen]="true" id="fullScreen2Xl">
    <c-modal-header>
        <h1 cModalTitle>Creación de Material</h1>
        <button [cModalToggle]="fullScreen2Xl.id" cButtonClose></button>
    </c-modal-header>

    <c-modal-body>
        <!--
        <div>
        <table cTable hover>
            <tbody>
            <tr>
                <td class="col-md-8">
                    <div  id="ggb-element"></div> 
                </td>
                <td>
                    <div class="col-md-4">
                        <form cForm>
                            <c-input-group class="mb-3">
                            <input autoComplete="name" cFormControl placeholder="Nombre del material" />
                            </c-input-group>
                            <c-input-group class="mb-3">
                            <input autoComplete="name" cFormControl placeholder="Enlace" />
                            </c-input-group>
                            <br>
                            <div class="d-grid">
                                <button cButton class="btn btn-success rounded-pill">Guardar</button>
                            </div>
                        </form>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        -->
        <div class="c-container">
            <div class="row">
                <div class = "col-8" id="ggb-element"></div> 
                <div class="bg-light d-flex flex-row align-items-center col-4">
                    <form cForm>
                        <c-input-group class="mb-3">
                        <input autoComplete="name" cFormControl placeholder="Nombre del material" />
                        </c-input-group>
                        <c-input-group class="mb-3">
                        <input autoComplete="name" cFormControl placeholder="Enlace" />
                        </c-input-group>
                        <br>
                        <div class="d-grid">
                            <button cButton class="btn btn-success rounded-pill">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </c-modal-body>

</c-modal>