<table cTable hover>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Autor</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Material</th>
            <th scope="col">Comentario</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>01/01/2022</td>
            <td><a href="#">Función seno de un circulo</a></td>
            <td>El material me parece interesante pero creo que...</td>
            <td><button cButton color="success">Aceptar</button></td>
            <td><button cButton color="danger">Eliminar</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacobo</td>
            <td>10/02/2021</td>
            <td><a href="#">Hipérbola</a></td>
            <td>No me gustó mucho el material ya que no es muy...</td>
            <td><button cButton color="success">Aceptar</button></td>
            <td><button cButton color="danger">Eliminar</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>25/01/2022</td>
            <td><a href="#">Problema 10, página 376</a></td>
            <td>El material me parece interesante pero creo que...</td>
            <td><button cButton color="success">Aceptar</button></td>
            <td><button cButton color="danger">Eliminar</button></td>
        </tr>
    </tbody>
</table>