<table cTable hover>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="col">1</th>
        <td>Mark123</td>
        <td>Mark</td>
        <td><button cButton color="danger">Eliminar</button></td>
    </tr>
    <tr>
        <th scope="col">2</th>
        <td>Jacob123</td>
        <td>Jacob</td>
        <td><button cButton color="danger">Eliminar</button></td>
    </tr>
    <tr>
        <th scope="col">1</th>
        <td>Larry123</td>
        <td>Larry</td>
        <td><button cButton color="danger">Eliminar</button></td>
    </tr>
    </tbody>
  </table>