<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="registerForm" (ngSubmit)="Register(registerForm.value)">
              <h1>Registrar</h1>
              <p class="text-medium-emphasis">Crea tu cuenta</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input 
                  formControlName = "nombre"
                  cFormControl 
                  placeholder="Nombre" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input 
                  formControlName = "apellido"
                  cFormControl 
                  placeholder="Apellido" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input
                  formControlName = "correo"
                  autoComplete="email" 
                  cFormControl 
                  placeholder="Correo institucional" />
              </c-input-group>
              <div *ngIf="" class="invalid-feedback">
                El correo no es válido
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input 
                  formControlName = "password"
                  cFormControl 
                  placeholder="Contraseña" 
                  type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input 
                  formControlName = "confirmPassword"
                  cFormControl 
                  placeholder="Confirmar Contraseña" 
                  type="password" />
              </c-input-group>
              <div *ngIf="!samePassword" class="text-danger">
                <small>Las contraseñas no coinciden</small>
              </div>
              <div class="d-grid">
                <button type="submit" [disabled]="!registerForm.valid" cButton color="success">Registrar cuenta</button>
              </div>
              <c-container>
                <c-row>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" [disabled]="true" color="black">
                      ¿Ya posees cuenta?
                    </button>
                  </c-col>
                  <c-col class="text-right" md="6">
                    <button cButton class="px-0" color="link" routerLink="/login">
                      Iniciar sesión
                    </button>
                  </c-col>
                </c-row>
              </c-container>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
