<input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" onclick="sortUsuario()" checked>
<label class="btn btn-light rounded-pill" for="option1">Usuario</label>

<input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
<label class="btn btn-light rounded-pill" for="option2">Acción</label>

<input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" onclick="sortFecha()">
<label class="btn btn-light rounded-pill" for="option3">Fecha</label>

<table cTable hover>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Acción</th>
            <th scope="col">Fecha y hora</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">1</th>
            <td>Mark123</td>
            <td>Creó un nuevo material llamado 'Elipse'</td>
            <td>10-06-2022 00:23:43</td>
        </tr>
        <tr>
            <th scope="col">2</th>
            <td>Jacob123</td>
            <td>Editó el nombre del material 'Ayuda circulo' a 'Guía círculo'</td>
            <td>10-06-2022 00:23:43</td>
        </tr>
        <tr>
            <th scope="col">3</th>
            <td>Larry123</td>
            <td>Creó un nuevo material llamado 'Resolución de dudas'</td>
            <td>10-06-2022 00:23:43</td>
        </tr>
    </tbody>
</table>
