<table cTable hover>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Acción</th>
      <th scope="col">Fecha y hora</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="col">1</th>
        <td>Mark123</td>
        <td>Creó un nuevo material llamado 'Elipse'</td>
        <td>10-06-2022 00:23:43</td>
    </tr>
    <tr>
        <th scope="col">2</th>
        <td>Jacob123</td>
        <td>Editó el nombre del material 'Ayuda circulo' a 'Guía círculo'</td>
        <td>10-06-2022 00:23:43</td>
    </tr>
    <tr>
        <th scope="col">1</th>
        <td>Larry123</td>
        <td>Creó un nuevo material llamado 'Resolución de dudas'</td>
        <td>10-06-2022 00:23:43</td>
    </tr>
    </tbody>
  </table>