<table cTable hover>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha de creación</th>
      <th scope="col">Nombre del Material</th>
      <th scope="col">Enlace</th>
      <th scope="col">Curso</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>01/01/2022</td>
      <td>Elipse</td>
      <td>http://www.geogebra...</td>
      <td>Matemática 1</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacobo</td>
        <td>10/02/2021</td>
        <td>Hipérbola</td>
        <td>http://www.geogebra...</td>
        <td>Intermedia 1</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>25/01/2022</td>
        <td>Métodos de aproximación</td>
        <td>http://www.geogebra...</td>
        <td>Aplicada 3</td>
    </tr>
    </tbody>
  </table>