<table cTable hover>
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Enlace</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Crear un círculo</td>
      <td>http://www.youtube.com/...</td>
      <td><button cButton color="warning">Editar</button></td>
      <td><button cButton color="danger">Eliminar</button></td>
    </tr>
    <tr>
        <td>Generar un Slider</td>
      <td>http://www.youtube.com/...</td>
      <td><button cButton color="warning">Editar</button></td>
      <td><button cButton color="danger">Eliminar</button></td>
    </tr>
    <tr>
        <td>Sumar valores dinámicos</td>
      <td>http://www.youtube.com/...</td>
      <td><button cButton color="warning">Editar</button></td>
      <td><button cButton color="danger">Eliminar</button></td>
    </tr>
    </tbody>
  </table>